* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 1st section */
.fifa-update {
  font-family: "Signika", sans-serif;
  background-color: rgb(105, 103, 103);
  height: 600px;
  color: white;
  display: flex;
  margin: 150px;
  margin-top: 80px;
  justify-content: space-around;
  border-color: aliceblue;
  border-radius: 30px;
}

.first-div {
  margin: 70px;
  justify-content: center;
}

h1 {
  font-size: 65px;
  width: 650px;
}

p {
  font-family: "Nanum Myeongjo", serif;
  text-align: center;
  width: 550px;
  text-align: justify;
  /* margin-top: -10px; */
}

/* button */
.live-watch-btn {
  height: 50px;
  font-size: 19px;
  border-color: red;
  border-radius: 10px;
  background-color: brown;
  color: white;
  margin-top: 15px;
}

.btn :hover {
  width: 200px;
  height: 50px;
}

.fa-circle-play {
  color: black;
  font-size: 20px;
  margin-left: 10px;
}

.player-alisson img {
  margin-top: -32px;
  height: 630px;
}

.player-alisson img:hover {
  padding-right: 50px;
  transition: ease;
  transition: 1s;
}

/* ---------main style------
  
  --- -------------- -*/

.main {
  display: flex;
}

.four-flex {
  display: flex;
  width: 86%;
  margin: 0 auto;
  gap: 18px;
}

.style-btn-div {
  width: 200px;
  height: 45px;
  margin: 32px;
  background-color: white;
  font-size: 15px;
  border-radius: 8px;
}

.btn-background {
  width: 330px;
  height: 320px;
  background-color: rgb(105, 103, 103);
  /* margin-left: 150px; */
  margin-top: 10px;
  border-radius: 20px;
  text-align: center;
}

.style-btn-different {
  background-color: lightcoral;
}

.news-cart {
  border: 2px solid rgb(202, 172, 172);
  padding: 100px;
  margin: 20px;
}

/* main part */
.inner___card {
  /* width: 23%; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 8px;
}
.card___details p {
  padding-bottom: 100px;
  text-align: center;
  font-size: 16px;
}
.card___details h3 {
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: center;
  font-size: 25px;
}

.inner___card img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.inner___imgflex {
  display: flex;
  column-gap: 00px;
  align-items: center;
}
.inner___imgflex img {
  height: 130px;
}
.inner___card p {
  width: 100%;
  font-weight: 600;
}
.card___details {
  padding: 12px;
}
.card___details button {
  background: transparent;
  font-weight: 600;
  padding: 4px 10px 4px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.icon {
  padding-left: 7px;
}
.player____card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}
/* Footer part---------------
   ---------*/
.site-footer {
  background-color: rgb(105, 103, 103);
  padding: 34px 0px 45px 0px;
  font-size: 20px;
  line-height: 30px;
  color: white;
  margin-top: 35px;
}

.footer-container {
  display: flex;
  justify-content: center;
}

.site-footer h2 {
  text-align: center;
  font-size: 35px;
}

/*.......... hr tag 
  ..............*/

.site-footer h3 {
  padding-left: 25px;
}

.footer-icon {
  font-size: 30px;
  text-align: center;
  display: none;
}

.fa-brands {
  padding-left: 40px;
}
.pranta {
  padding: 101px;
}
@media only screen and (max-width: 688px) {
  .fifa-update {
    display: grid;
    grid-template-rows: 50% 50%;
    height: 600px;
    color: white;

    margin: 40px;
    margin-top: 30px;
  }
  .fifa-update h1 {
    font-size: 220%;
    text-align: center;
    margin-bottom: 30px;
    width: 200px;
    margin-top: -70px;
  }
  .fifa-update p {
    width: 100%;
    font-size: 10px;
  }

  .fifa-update img {
    height: 300px;
    padding-left: 50px;
    margin-top: 0px;
  }
  .four-flex {
    display: grid;
  }
  .btn-background {
    background-color: white;
  }
  .player____card {
    grid-template-columns: 1fr;
  }
  .footer-text h2 {
    font-size: 5px;
  }
  .footer-text h3 {
    font-size: 10%;
  }
  .footer-container {
    display: grid;
    text-align: center;
  }
  hr {
    margin-left: 80px;
    margin-right: 80px;
  }
}
@media only screen and (min-width: 689px) and (max-width: 992px) {
  .fifa-update {
    display: flex;
    grid-template-rows: 50% 50%;
    height: 600px;
    color: white;
    margin: 30px;
    margin-top: 30px;
  }
  .fifa-update {
    display: flex;
    grid-template-rows: 50% 50%;
    height: 600px;
    color: white;
    margin: 30px;
    margin-top: 30px;
  }
  .fifa-update h1 {
    font-size: 200%;
    text-align: justify;
    margin-bottom: 30px;
    width: 200px;
    margin-top: 70px;
  }
  .fifa-update p {
    width: 100%;
    font-size: 15px;
  }
  .fifa-update img {
    height: 500px;
    padding-left: 50px;
    margin-top: 100px;
  }
  .four-flex {
    display: grid;
  }
  .btn-background {
    background-color: white;
    display: flex;
    margin-left: -40px;
  }
  .player____card {
    grid-template-columns: 1fr 1fr;
  }
  .view-all {
    display: flex;
    width: 100px;
    height: 5px;
    margin: 32px;
    background-color: white;
    font-size: 15px;
    border-radius: 8px;
    padding-left: 350px;
  }
}
